body{
    background-image: url(image1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
p{
    font-size: 37px;
    color:rgb(0, 115, 255)
}
p b{
    font-size: 37px;
    color: rgb(0, 115, 255);
}
#p1{
    font-size: 58px;
    color: rgb(30, 94, 129);
}

