body{
    background-image: url(image1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
p,b{
    text-align: center;
    color: rgb(232, 232, 232);
    font-size: 60px;
}