#p1{
    text-shadow: 1px 1px 1px rgb(255, 0, 0);
}
#p2{
    text-shadow: 1px 1px 1px rgb(255, 221, 0);
}
#p3{
    text-shadow: 1px 1px 1px rgb(0, 255, 0);
}
#p4{
    text-shadow: 1px 1px 1px rgb(0, 55, 255);
}
#p5{
    text-shadow: 1px 1px 1px rgb(255, 0, 149);
}