@import url('https://fonts.googleapis.com/css2?family=Chango&family=Rampart+One&display=swap');
h1{
    font-family: "Chango", sans-serif;
    text-align: center;
}
p{
    font-family: "Rampart One", sans-serif;
    text-align: center;
}