body{
    background-image: url(image1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
p{
    font-size: 60px;
    text-align: center;
    color:rgb(3, 94, 198);
}
kbd{
    font-size: 17px;
}
h5{
    font-size: 14px;
    color: rgb(0, 73, 90);
}