#hj{
    color: blanchedalmond;
    font-size: 31px;
    background-color: aqua;
    text-align: center;
}
#jh{
    color: blueviolet;
    font-size: 34px;
    background-color: rgb(1, 225, 225);
    text-align: center;
}
.ywyw{
    color: rgb(0, 255, 76);
    font-size: 65px;
    background-color: black;
    text-align: center;
}