body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #3498db, #8e44ad);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

#asd {
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 50px;
    width: 300px;
   
}